#recipient-card {
  position: relative;
  height: 100px;
  width: 100%;
  border-style: solid;
  padding-left: 30px;
  padding-right: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: linear-gradient(
    0deg,
    rgba(149, 254, 224, 1) 0%,
    rgba(123, 255, 204, 1) 15%,
    rgba(99, 255, 186, 1) 33%,
    rgba(74, 255, 167, 1) 52%,
    rgba(53, 255, 151, 1) 67%,
    rgba(30, 255, 133, 1) 83%,
    rgba(6, 255, 114, 1) 100%
  );
}
#recipient-manager {
  flex-wrap: wrap;
  display: flex;
  /* justify-content: space-around; */
}
#recipient-manager a {
  text-decoration: none;
  color: black;
  bottom: 8px;
  width: 50%;
}
#recipient-manager #company-profile {
  position: relative;
  /* left: 182px; */
  left: 18%;
}
#recipient-manager #blocked {
  position: relative;
  left: 22%;
  /* left: 615px; */
}

.vr {
  position: absolute;
  display: inline-block;
  top: 55px;
  align-self: stretch;
  width: 2px;
  height: 43%;
  left: 50%;
  min-height: 1em;
  background-color: black;
}

hr {
  opacity: 1;
}

#chat-log {
  resize: vertical;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  opacity: 1;
  width: 100%;
  height: 100%;
  color: black;
}
#chat-message-input {
  width: 100%;
}

#chat-area {
    position: absolute;
    left: 23%;
    height: 65%;
    width: 85rem;
    top: 17%;
}

#chat-list {
  /* background-color: aquamarine; */
  width: 20%;
  height: auto;
  position: relative;
  top: 40px;
  /* left: 40px; */
}

#chat-list h3{
    left: 28%;
    position: relative;
}

#chat-list #chat-items {
}
#chat-items hr {
  margin: 0 0;
}
#chat-items #item {
    height: 85px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}
#chat-items #item a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;   
  text-decoration: none;
  font-size: xx-large;
  background: linear-gradient(
    185deg,
    rgba(149, 254, 224, 1) 0%,
    rgba(123, 255, 204, 1) 15%,
    rgba(99, 255, 186, 1) 33%,
    rgba(74, 255, 167, 1) 52%,
    rgba(53, 255, 151, 1) 67%,
    rgba(30, 255, 133, 1) 83%,
    rgba(6, 255, 114, 1) 100%
  );
}
#chat-items #item a:hover{
    background: linear-gradient(
    170deg,
    rgba(149, 254, 224, 1) 0%,
    rgba(123, 255, 204, 1) 15%,
    rgba(99, 255, 186, 1) 33%,
    rgba(74, 255, 167, 1) 52%,
    rgba(53, 255, 151, 1) 67%,
    rgba(30, 255, 133, 1) 83%,
    rgba(6, 255, 114, 1) 100%
  );
}