{%include 'footer.html'%} {%load static%}
<!DOCTYPE html>
<html lang="en" style="position: relative">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

    <link
      href="{%static 'CSS/bootstrap.css'%}"
      type="text/css"
      rel="stylesheet"
    />
    <link href="{%static 'CSS/styles.css'%}" type="text/css" rel="stylesheet" />
    <link href="{%static 'images/icon.svg'%}" />
    {%block title%} {%endblock%}
  </head>

  <body>
    <script src="{%static 'JS/bootstrap.js'%}"></script>
    <div class="help-zone">
      <ul>
        <li>
          <a href="">about</a>
        </li>
        <li>
          <a href="">help</a>
        </li>
      </ul>
    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img src="{% static 'images/icon.png' %}" class="me-2" alt="" />
        </a>
        <button
          class="navbar-toggler dropmenu"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon dropmenu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link nav-sub" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle nav-sub"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>

              <ul class="dropdown-menu drop-staff">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-sub" href="/chat/my_chats/{{user.id}}"
                >My chats</a
              >
            </li>
            {% if user.user_type == 'company' %}
            <li class="nav-item">
              <a class="nav-sub nav-link" href="/JOB/{{user.id}}/vacancy_list"
                >My vacancies</a
              >
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-sub nav-link" href="/CV/cv_list/{{user.id}}"
                >My CV</a
              >
            </li>
            {% endif %}
            <div id="search-field-base" style="display: flex">
              <input
                class="form-control me-2 searchinput"
                type="search"
                placeholder="Search"
                aria-label="Search"
                id="searchinputfield"
              />
              <button
                class="btn btn-outline-success searchbutton"
                type="submit"
              >
                <img
                  src="{% static 'images/icon_search.png'%}"
                  class="search_icon"
                  alt=""
                />
              </button>
            </div>

            <li class="nav-item dropdown dropdown-auth">
              <a
                class="nav-sub nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ><img
                  src="{% static 'images/icon_user.png'%}"
                  class="user_icon"
                  alt=""
                />
              </a>
              <ul class="dropdown-menu drop-staff drop-staff-auth">
                {% if user.is_authenticated %}
                <li>
                  <a class="dropdown-item" href="/profile">Profile</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/log_out">Log out</a>
                </li>
                {% else %}
                <li>
                  <a class="dropdown-item" href="/log_in">Login in</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/set_up">Set up</a>
                </li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {%block content%}{%endblock%}
  </body>
</html>

<script>
  document
    .querySelector(".searchbutton")
    .addEventListener("click", function (e) {
      e.preventDefault();

      var input = document.querySelector(".searchinput").value;
      var user_type = "{{ user.user_type }}";

      var url;
      if (user_type === "company") {
        url = "/JOB/search/?occupation=" + encodeURIComponent(input);
      } else if (user_type === "jobseeker") {
        url = "/CV/search/?occupation=" + encodeURIComponent(input);
      }

      if (url) {
        window.location.href = url;
      }
    });
</script>
