{%include 'base.html'%}
{%load static%}
<link
href="{%static 'CSS/styles_chat.css'%}"
type="text/css"
rel="stylesheet"
/>
<!-- <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Chat Room</title>
</head> -->
<body>
    <div id="chat-list">
        <h3>My chats</h3>
        <hr style="height: 2px; margin: 0 0;">
        {% if recipient.user.user_type == 'company'%}
            <div id="chat-items">
            {%for chat in chat_list%}
                <div id="item">
                <a href="/chat/user/{{chat.employer.user_id}}">
                    {{chat.employer.company_name}}
                </a>
                </div>
                <hr>            
            {%endfor%}
            </div>
        </div>
        {%else%}
        <div id="chat-items">
            {%for chat in chat_list%}
            <div id="item">
                <a href="/chat/user/{{chat.jobseeker.user_id}}">
                    {{chat.jobseeker.first_name}}
                    {{chat.jobseeker.last_name}}
                </a>
            </div>
            <hr>
            {%endfor%}
        </div>
        {%endif%}
    </div>
    <!-- <p>{{chat_list}}</p> -->
    <div id="chat-area">
        {% if recipient.user.user_type == 'company' %}
        <div id="recipient-card">
            
            <h2 style="left: 30px;">{{recipient}}</h2>
            <hr style="position: relative;">
            <div id="recipient-manager">
                <a id="company-profile" href="/profile/{{recipient.user.id}}" style="padding-right: 10px;">company profile</a>
                <div class="vr"></div>
                <a id="blocked" href="">blocked</a>
            </div>
        </div> 
        {%else%}
        <div id="recipient-card">
            
            <h2 style="left: 30px;">{{recipient}}</h2>
            <hr style="position: relative;">
            <div id="recipient-manager">
                <a id="company-profile" href="/profile/{{recipient.user.id}}" style="padding-right: 10px;">user profile</a>
                <div class="vr"></div>
                <a id="blocked" href="">blocked</a>
            </div>
        </div> 
        {%endif%}
        <!-- <p>{{recipient.user.user_type}}</p> -->
        <textarea disabled id="chat-log" cols="100" rows="20"></textarea><br>
        <div class="d-flex">
            <input id="chat-message-input" type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>
    {{ chat_id|json_script:"chat-id" }}
    <!-- <div id="sender" data-sender="{{user_id}}"></div> -->
    <div id="sender-name" data-sender-name="{{sender_name}}"></div>
    <div id="recipient" data-recipient="{{recipient}}"></div>
    <script>
        const ChatId = JSON.parse(document.getElementById('chat-id').textContent);
        // var sender = document.getElementById('sender').getAttribute('data-sender');
        var senderName = document.getElementById('sender-name').getAttribute('data-sender-name');
        var recipient = document.getElementById('recipient').getAttribute('data-recipient');
        
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + ChatId
            + '/'
        );
        
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(chatSocket)
            let message = data.message;
            if (data.sender_name) {
                message = data.sender_name + ' : ' +message;
            }

            document.querySelector('#chat-log').value += (message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            console.log(messageInputDom)
            chatSocket.send(JSON.stringify({
                'message': message,
                'chat_id':ChatId,
                // 'sender':sender,
                'sender_name':senderName
                
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>