{%include 'base.html'%}
{% load static %}
<link
href="{%static 'CSS/styles_cv.css'%}"
type="text/css"
rel="stylesheet"
/>
{%block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
       
        <div class="mb-3">
            <div class="autocomplete">
                <label for="occupation-input">Enter name of occupation</label>
                <input id="occupation-input" value={{vacancy.occupation}} name="occupation" class="form-control" type="text" autocomplete="off" required>
                <ul id="occupation-list"></ul>
              </div>
        </div>
        
        <div class="mb-3">
            <label for="bio">Job description</label>
            <textarea name="job_description" id="bio">{{vacancy.job_description}}</textarea>
        </div>

        <div class="mb-3">
            <label for="education" class="form-label">Education</label>
            <select class="form-select" name="education" id="education">
                <option value="none" {% if vacancy.education ==  "none" %}selected{% endif %}>Without education</option>
                <option value="bachelor" {% if vacancy.education ==  "bachelor" %}selected{% endif %}>Bachelor's Degree</option>
                <option value="master" {% if vacancy.education ==  "master" %}selected{% endif %}>Master's Degree</option>
                <option value="doctorate" {% if vacancy.education ==  "doctorate" %}selected{% endif %}>Doctorate Degree</option>
                <option value="license" {% if vacancy.education ==  "license" %}selected{% endif %}>Professional Certification/License</option>
                <option value="courses" {% if vacancy.education ==  "courses" %}selected{% endif %}>Courses/Training</option>
                <option value="hight" {% if vacancy.education ==  "hight" %}selected{% endif %}>hight school</option>
              </select>
         </div>


        <div class="mb-3">
            <label class="form-label" for="schedule" id="work_schedule">Work schedule</label>
            <select class="form-select" name="schedule" id="schedule" >
                <option value="none"{% if vacancy.schedule ==  "none" %}selected{% endif %}>Doesn't matter</option>
                <option value="full"{% if vacancy.schedule ==  "full" %}selected{% endif %}>full-time</option>
                <option value="flex"{% if vacancy.schedule ==  "flex" %}selected{% endif %}>flexible</option>
                <option value="shift"{% if vacancy.schedule ==  "shift" %}selected{% endif %}>shift</option>
                <option value="part"{% if vacancy.schedule ==  "part" %}selected{% endif %}>part-time</option>
                <option value="seasonal"{% if vacancy.schedule ==  "seasonal" %}selected{% endif %}>seasonal</option>
                <option value="hybrid"{% if vacancy.schedule ==  "hybrid" %}selected{% endif %}>hybrid</option>
              </select>
         </div>
       
         <div class="mb-3">
             <label for="work_place" class="form-label">Work place</label>
            <select class="form-select" name="work_place" id="work_place">
                <option value="none"{% if vacancy.work_place ==  "none" %}selected{% endif %}>Doesn't matter </option>
                <option value="full"{% if vacancy.work_place ==  "full" %}selected{% endif %}>Full-time</option>
                <option value="flex"{% if vacancy.work_place ==  "flex" %}selected{% endif %}>flexability</option>
                <option value="home"{% if vacancy.work_place ==  "home" %}selected{% endif %}>from home</option>
            </select>
        </div>
          
    
        <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" id="salary" name="salary" value={{vacancy.salary}}>
            </div>
        </div>

        <div class="mb-3">
            <label for="key_skills_input">Key skills</label>
            <textarea class="form-control" name="key_skills" id="key_skills_input" style="height: 100px">{{vacancy.key_skills}}</textarea>
        </div>

        <div class="mb-3">
            <div id="autocomplete" class="autocomplete mb-3">
                <label  class="form-label">City</label>
                <input name="city" class="autocomplete-input" value={{vacancy.city}} />
                <input  id="city_id"type="hidden" name="city_id" value={{vacancy.city}}>
                <ul class="autocomplete-result-list"></ul>
            </div>
        </div>
        
        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<!-- <script>
  document.getElementById("work_schedule").value = {cv.schedule};
</script> -->

<script>
    new Autocomplete('#autocomplete',{
    search : input => {
        console.log(input)
        const url = `/get_city/?search=${input}`
        return new Promise(resolve => {
            fetch(url)
            .then(response=>response.json())
            .then(data =>{
                console.log(data.payload)
                resolve(data.payload)
            })
        })
    },
    
    renderResult : (result, props)=>{
        console.log(props)
        let group=''
        if(result % 3 == 0){
            group=`<li class="group">Group</li>`
        }
        const listItem = document.createElement('li');
        listItem.innerHTML = `
            ${group}
            <div class="wiki-title">
                ${result.state} / ${result.city}
            </div>
        `;
        listItem.addEventListener('click', () => {
            const input = document.querySelector('#autocomplete input');
            input.value = result.city;
            const hidden_input=document.querySelector('#autocomplete #city_id')
            hidden_input.value = result.id
            closeAutocomplete(); // Закрыть список автодополнения
        });
        listItem.addEventListener('mouseenter', () => {
            listItem.classList.add('highlight');
        });
        listItem.addEventListener('mouseleave', () => {
            listItem.classList.remove('highlight');
        });
        
        return listItem;
    }
});

function closeAutocomplete() {
    const list = document.querySelector('#autocomplete').querySelector('ul');
    list.classList.remove('autocomplete-result-list'); // Скрыть список автодополнения
}
</script>

<script>
  function removeEducationRow(button) {
      var row = button.parentNode;
      row.parentNode.removeChild(row);
  }
</script>
<script>
    // Функция для закрытия списка автодополнения
    function closeAutocomplete() {
      const occupationList = document.querySelector('#occupation-list');
      occupationList.innerHTML = '';
    }

    // Функция для обработки выбора профессии из списка
    function handleSelection(occupation) {
      const occupationInput = document.querySelector('#occupation-input');
      occupationInput.value = occupation;
      closeAutocomplete();
    }

    // Обработчик ввода в поле автодополнения
    function handleInput() {
      const input = document.querySelector('#occupation-input').value;
      const url = `/get_occupation/?search=${input}`;

      fetch(url)
        .then(response => response.json())
        .then(data => {
          const occupationList = document.querySelector('#occupation-list');
          occupationList.innerHTML = '';

          if (data.status) {
            const payload = data.payload;
            payload.forEach(occupation => {
              const listItem = document.createElement('li');
              listItem.textContent = occupation.occupation;
              listItem.addEventListener('click', () => handleSelection(occupation.occupation));
              occupationList.appendChild(listItem);
            });
          }
        })
        .catch(error => {
          console.log('Произошла ошибка:', error);
        });
    }

    // Добавление обработчика события ввода в поле автодополнения
    const occupationInput = document.querySelector('#occupation-input');
    occupationInput.addEventListener('input', handleInput);
  </script>






{%endblock%}