{% include 'base.html' %}
{% load static %}
<link
href="{%static 'CSS/styles_job.css'%}"
type="text/css"
rel="stylesheet"
/>
{% block  content %}
<div class="card" id="employer-card">
    <div style="position: relative;" id="image">
      <img id="profile-photo" src="{{vacancy.employer.profile_photo.url}}" alt="">
    </div>
    
    <!-- <div class="card-title">
      {{vacancy.employer.company_name}}
    </div> -->
    <h2 class="card-title">
      {{vacancy.employer.company_name}}
    </h2>
    <div class="card-link d-flex">
      <div id="to-profile-link">
        <a href="/profile/{{vacancy.employer.user.id}}">to profile</a>
      </div>
      <div id="chat-user-link">
          <a href="/chat/user/{{vacancy.employer.user.id}}">call</a>
      </div>
      </div>
</div>
<div id="vacancy-info">
    <div class="container mt-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Occupation</h5>
            <hr>
            <p class="card-text">{{vacancy.occupation}}</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Job description</h5>
            <hr>
            <p class="card-text">{{vacancy.job_description}}</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Working condition</h5>
            <hr>
              <div class="card card-body">
                <div class="d-flex ">
                  <h5 class="card-title" style="vertical-align: middle;">Schedule</h5>
                  <div class="vr"></div>
                  <p class="card-text">{{vacancy.schedule}}</p>
                </div>
              </div>
              <hr>
              <div class="card card-body">
                <div class="d-flex ">
                  <h5 class="card-title" style="vertical-align: middle;">Work place</h5>
                  <div class="vr"></div>
                  <p class="card-text">{{vacancy.work_place}}</p>
                </div>
              </div>
            </div>
          </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Salary</h5>
            <hr>
            <p class="card-text">{{vacancy.salary}}$</p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <hr>
            <p class="card-text">{{vacancy.education}}</p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Experience</h5>
            <hr>
            <p class="card-text">{{vacancy.experience}}$</p>
          </div>
        </div>
        
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Key skills</h5>
            <hr>
            <p class="card-text">{{vacancy.key_skills}}</p>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">City</h5>
            <hr>
            <p class="card-text">{{vacancy.city}}</p>
          </div>
        </div>
        

          
    </div>
            
            
            
            {% if user_id == request.user.id%}
            <a id="edit-button" href= "/JOB/{{vacancy.id}}/edit">Edit vacancy</a>
            {%endif%}
      <!-- </div> -->
  </div>    
 </div> 


{%endblock%}
<script>
  var element = document.getElementById('employer-card');
  
  function setScrollTrigger(element, distance) {
 var offset = element.getBoundingClientRect().top;
 
 window.addEventListener('scroll', function() {
   if (window.scrollY > offset) {
   
     element.style.position = 'fixed';
     element.style.top = 0;
   } else {
    
     element.style.position = 'absolute';
     element.style.top = 130 + 'px';
   }
 });
}

 setScrollTrigger(element, 0);
</script>