{% include 'base.html' %}
{% block  content %}
<div class="container">
    <ul class="list-group">
      <!-- {{user.id}} -->
        {% for vacancy in vacancy_list %}
        <form method="post">
        <li class="list-group-item">
          {% csrf_token %}
            <div class="card">
                <div class="card-header justify-content-between d-flex">
                  <div class="align-self-start">{{vacancy.occupation}}{{vacancy.id}}</div>
                  <div class="align-self-end">
                    <button type="button" class="btn btn-primary delete-btn" data-bs-toggle="modal" data-bs-target="#exampleModal{{vacancy.id}}">
                      Delete
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{vacancy.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete vacancy</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Do you realy wont to delete this vacancy?{{vacancy.id}}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                              <input type="hidden" name="vacancy_id" value={{vacancy.id}}>
                              <button type="submit" class="btn btn-primary">
                                Yes
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="/JOB/show/{{vacancy.id}}" class="btn btn-primary">Go to CV</a>
                </div>
              </div>
            </li>
            {%endfor%}
            <div>
              <a href="/JOB/{{user.id}}/create_vacancy">
                <button class="btn-primary">
                Create vacancy
                </button>
              </a>
            </div>
        
      </ul>


</div>


{%endblock%}
<script>
  const deleteButtons = document.querySelectorAll('.delete-btn');

// Обработка нажатия кнопки "Удалить"
deleteButtons.forEach(button => {
    button.addEventListener('click', () => {
        const vacancyId = button.getAttribute('data-vacancy-id');
        const confirmDelete = confirm('Вы уверены, что хотите удалить вакансию?');
        
        if (confirmDelete) {
            // Передача номера вакансии в представление Django для удаления
            // Выполните здесь соответствующий AJAX-запрос или перенаправление на представление удаления
        }
    });
});
</script>