{% include 'base.html' %}
{% block  content %}
<div class="container">
    <ul class="list-group">
        {% for cv in cv_list %}
        <li class="list-group-item">
            <div class="card">
                <div class="card-header justify-content-between d-flex">
                  <div class="align-self-start">{{cv.occupation}}</div>
                  <div class="align-self-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{cv.id}}">
                      Delete
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{cv.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete CV</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Do you realy wont to delete this CV?{{cv.id}}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <form method="post">
                              {% csrf_token %}
                              <input type="hidden" name="cv_id" value={{cv.id}}>
                              <button type="submit" class="btn btn-primary">
                                Yes
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="/CV/show/{{cv.id}}" class="btn btn-primary">Go to CV</a>
                </div>
              </div>
        </li>
        {%endfor%}
        <div>
          <a href="/CV/{{user.id}}/create_cv">
            <button class="btn-primary">
            Create summary
            </button>
          </a>
        </div>
      </ul>

</div>


{%endblock%}