{%include 'base.html'%}
{%include 'footer.html'%}
{%load static%}
<link
href="{%static 'css/styles_main.css'%}"
type="text/css"
rel="stylesheet"
/>
{%block content%} 
<!-- {% if user.is_authenticated %}
    Привет, {{ user.username }}!
{% else %} -->
    <!-- suck it -->
<!-- {% endif %} -->
    <div class="main_page_top">
        <div class="row" id="search-job-cv-links">
        <div class="col">
            <a href="CV/search">
               
                    look for a job
               
            </a>
        </div>
        <div class="col">
            <a href="JOB/search">
                look for a summary
            </a>
        </div>
        </div>
    </div>

    <div class="main_page_container">
        <div class="d-flex justify-content-between" style="display: flex;">
            <div class="main_page_cv_job" style="max-width: 50%;">
                <div class="card" style="width: 23rem;">
                    <h5 class="card-header" style="background-color: #03e65e;">Summary of the day</h5>
                    <div class="card-body">
                    <h5 class="card-title">{{summary.occupation}}</h5>
                    <p class="card-text">{{summary.bio}}</p>
                    <a href="/CV/show/{{summary.id}}" id="to-summary-vacancy-bottom">to summary</a>
                    </div>
                </div>
                <div class="card justify-content-center" style="width: 23rem; margin-left: 20px;">
                    <h5 class="card-header" style="background-color: #03e65e;">Job of the day</h5>
                    <div class="card-body">
                    <h5 class="card-title">{{job.occupation}}</h5>
                    <p class="card-text">{{job.job_description}}</p>
                    <a href="/JOB/show/{{job.id}}" id = "to-summary-vacancy-bottom">to vacancy</a>
                    </div>
                </div>
            </div>

        <div class="container main_page_help_but">
            <div class="row row-cols-2">
                <div class="col" style="padding-bottom: 5px;">
                    <a href="/CV/search/?work_place=home" class="btn-primary main-page-grid">
                        Work from home
                    </a>
                </div>
                <div class="col" style="padding-left: 10px; padding-bottom: 5px;">
                    <a href="/CV/search/?experience=none|none" class="btn-primary main-page-grid">
                        For students
                    </a>
                </div>
                <div class="col" style="padding-top: 5px;">
                    <a href="/articles/0" class="btn-primary main-page-grid">
                        Articles
                    </a>
                </div>
                <div class="col" style="padding-left: 10px; padding-top: 5px;">
                    <a class="btn-primary main-page-grid">
                        Events and activities
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="main_page_second_level" style="position: relative;">
            <div style="flex-direction: column;">
                <div class="row row-cols-1 row-cols-md-1 g-4 main_page_articles" style="position: absolute;max-width: 50%">
                    <div class="col">
                        {%for article in articles%}
                        <div class="card"  id="article-card">
                        <a href="/articles/{{article.id}}">
                        <div class="card-body">
                        <h5 class="card-title">{{article.title}}</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </a>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                </div>


                <div class="card mb-3 main_page_company_day" style="right: 10px; position:absolute; max-width: 100%; width: 917px;">
                    <h5 class="card-header text-center" style="background-color: #03e65e;">Company of the day</h5>
                    <div class="row g-0">
                    <div class="col-md-4 d-flex">
                        <img src="{{company.profile_photo.url}}" alt="...">
                        <div id="company-info">
                            <h5 id="company-name" class="card-title">{{company.company_name}}</h5>
                            <hr style="top:10px; position: relative;">
                            <h6 style="position: relative;top: 10px;">{{company.email}}</h6>
                            <hr style="top:10px; position: relative;">
                            <h6 style="position: relative;">{{company.phone_number}}</h6>
                        </div>
                        <div id="company-links" class="d-flex">
                            <a href="/chat/user/{{company.user.id}}" style="border-right-style: groove;">call</a>
                            <a href="/profile/{{company.user.id}}">to profile</a>
                        </div>
                    </div>
                    <div>
                        <div class="card-body" class="col-md-8">
                        <!-- <h5 class="card-title">{{company.company_name}}</h5> -->
                        <p class="card-text">{{company.company_info}}</p>
                        <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
                        </div>
                    </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
   
{%endblock%}