@font-face {
  font-family: "Red hat";
  src: url("../redhat/RedHatText-VariableFont_wght.ttf");
}

body {
  font-family: "Red hat";
}

html {
  height: auto;
}

.nav-item {
  margin-left: 40px;
  margin-right: 40px;
}

li {
  font-family: "Red_hat";
  font-size: larger;
  font-weight: bold;
}
.nav-sub {
  color: black;
}

nav {
  background: linear-gradient(
    0deg,
    rgba(149, 254, 224, 1) 0%,
    rgba(123, 255, 204, 1) 15%,
    rgba(99, 255, 186, 1) 33%,
    rgba(74, 255, 167, 1) 52%,
    rgba(53, 255, 151, 1) 67%,
    rgba(30, 255, 133, 1) 83%,
    rgba(6, 255, 114, 1) 100%
  );
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  height: 100px;
  border-bottom-style: solid;
}

a:hover {
  transform: scale(1.02);
}
nav a:hover {
  transform: scale(1.1);
  transition: transform 1s;
  color: black !important;
}
nav a {
  font-family: "Red hat";
  font-weight: 500;
}

.drop-staff {
  background: linear-gradient(
    0deg,
    rgba(149, 254, 224, 1) 0%,
    rgba(123, 255, 204, 1) 15%,
    rgba(99, 255, 186, 1) 33%,
    rgba(74, 255, 167, 1) 52%,
    rgba(53, 255, 151, 1) 67%,
    rgba(30, 255, 133, 1) 83%,
    rgba(6, 255, 114, 1) 100%
  );
  font-weight: bold;
  right: auto;
  left: 0;
}
.drop-staff a {
  font-weight: bold;
  font-family: "Red_hat";
  font-size: medium;
}

img {
  width: 154px;
  height: 50px;
}
search input .search-icon {
  color: black;
}

.searchinput {
  display: none;
  transition: transform 1s;
}
.searchinput:focus {
  display: block;
}

#search-field-base:hover .searchinput {
  display: block;
  transition: transform 1s;
}
/*  */
.help-zone {
  transform-origin: top left;
  background-color: black;
}
.help-zone ul {
  display: flex;
  padding-left: 92%;
  margin: 0%;
}
.help-zone ul li {
  padding: 0;
  right: 0pc;
  margin-left: 19px;
}
.help-zone a {
  position: relative;
  color: #06ff6a;
  background-color: black;
}
/*  */
.dropdown-auth {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 18px;
}
/*  */
.button {
  display: inline-block;
  border-radius: 20px;
  padding: 20px 40px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
/*  */
.search_icon {
  vertical-align: text-bottom;
  height: 20px;
  width: 20px;
}
/*  */
.user_icon {
  height: 25px;
  width: 25px;
}
/*  */
form input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: "Red-hat";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
li.highlight {
  background-color: #f2f2f2;
  cursor: pointer;
}

.autocomplete ul {
  background-color: #bdbdbd;
}

.main_page_top {
  width: 100%;
}

.main_page_top div button {
  background-color: #212529;
  color: #000000;
  border-color: #0080ff;
  height: 40px;
  width: 100px;
}
.main_page_top div button {
  width: 100%;
  background-color: #06ff6a;
  border-color: #000000;
}
.main_page_top div button:hover {
  background-color: #03e65e;
}

body > #footer {
  position: absolute;
  bottom: -217px;
  width: 100%;
  height: 143px;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(149, 254, 224, 1) 0%,
    rgba(123, 255, 204, 1) 15%,
    rgba(99, 255, 186, 1) 33%,
    rgba(74, 255, 167, 1) 52%,
    rgba(53, 255, 151, 1) 67%,
    rgba(30, 255, 133, 1) 83%,
    rgba(6, 255, 114, 1) 100%
  );
}
