/* .bg-header {
    background-color: #06ff6a;
} */
/* @font-face {
    font-family: 'red_hat';
    src: url("../fonts/RedHatDisplay-VariableFont_wght.ttf") ;
    font-weight:100;
    font-style:normal;
} */

html {
  height: auto;
}

/* body {
  height: 100%;
  background-color: url();
} */

.nav-item {
  margin-left: 40px;
  margin-right: 40px;
}

li {
  font-family: "red_hat";
  font-size: larger;
  font-weight: bold;
}
.nav-sub {
  color: black;
}

nav {
  background: linear-gradient(
    0deg,
    rgba(149, 254, 224, 1) 0%,
    rgba(123, 255, 204, 1) 15%,
    rgba(99, 255, 186, 1) 33%,
    rgba(74, 255, 167, 1) 52%,
    rgba(53, 255, 151, 1) 67%,
    rgba(30, 255, 133, 1) 83%,
    rgba(6, 255, 114, 1) 100%
  );
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
  height: 100px;
  border-bottom-style: solid;
}

a:hover {
  transform: scale(1.02);
}
nav a:hover {
  transform: scale(1.1);
  /* transform: rotate(380deg); */
  transition: transform 1s;
  color: black !important;
}
nav a {
  /* transition: transform 1s; */
}

.drop-staff {
  /* background-color: #06ff6a; */
  background: linear-gradient(
    0deg,
    rgba(149, 254, 224, 1) 0%,
    rgba(123, 255, 204, 1) 15%,
    rgba(99, 255, 186, 1) 33%,
    rgba(74, 255, 167, 1) 52%,
    rgba(53, 255, 151, 1) 67%,
    rgba(30, 255, 133, 1) 83%,
    rgba(6, 255, 114, 1) 100%
  );
  font-weight: bold;
  right: auto;
  left: 0;
}
.drop-staff a {
  font-weight: bold;
  font-family: "red_hat";
  font-size: medium;
}

/* .main_icon{
    position: absolute;


} */

img {
  width: 154px;

  height: 50px;
}
search input .search-icon {
  color: black;
}

.searchinput {
  display: none;
  transition: transform 1s;
}
.searchinput:focus {
  display: block;
}

#search-field-base:hover .searchinput {
  display: block;
  transition: transform 1s;
}
/*  */
.help-zone {
  transform-origin: top left;

  background-color: black;
}
.help-zone ul {
  display: flex;
  padding-left: 92%;
  margin: 0%;
}
.help-zone ul li {
  padding: 0;
  right: 0pc;
  margin-left: 19px;
}
.help-zone a {
  position: relative;
  color: #06ff6a;
  background-color: black;
}
/*  */
.dropdown-auth {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 18px;
}
/*  */
.button {
  display: inline-block;
  border-radius: 20px;
  padding: 20px 40px;
  /* background-color: #007bff; */
  color: #fff;
  text-align: center;
  text-decoration: none;
}
/*  */
.search_icon {
  vertical-align: text-bottom;
  height: 20px;
  width: 20px;
}
/*  */
.user_icon {
  height: 25px;
  width: 25px;
}
/*  */
form input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* form li{
    display: none;
} */
/*  */
/* .city_form ul{
    height: 200px;
} */
li.highlight {
  background-color: #f2f2f2;
  cursor: pointer;
  /* Дополнительные стили для выделения */
}

.autocomplete ul {
  background-color: #bdbdbd;
}

/* main page content */
.main_page_top {
  /* margin-top: 20px; */
  width: 100%;
}

/* .main_page_top ul li{
    padding: 0px;
    margin: 0px;

} */
.main_page_top div button {
  background-color: #212529;
  color: #000000;
  border-color: #0080ff;
  height: 40px;
  width: 100px;
}
.main_page_top div button {
  width: 100%;
  background-color: #06ff6a;
  border-color: #000000;
}
.main_page_top div button:hover {
  background-color: #03e65e;
}

body > #footer {
  position: absolute;
  /* top: 105%; */
  bottom: -217px;
  width: 100%;
  height: 143px;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(149, 254, 224, 1) 0%,
    rgba(123, 255, 204, 1) 15%,
    rgba(99, 255, 186, 1) 33%,
    rgba(74, 255, 167, 1) 52%,
    rgba(53, 255, 151, 1) 67%,
    rgba(30, 255, 133, 1) 83%,
    rgba(6, 255, 114, 1) 100%
  );
}

/* main page main content */
/* .main_page_container{
    height: 300px;
    position: relative;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
}

.main_page_cv_job{
    display: flex;
    
}


.main_page_help_but{
    padding-left: 140px;
    height: 300px;

}
.main_page_help_but div{
    border-radius: 10%;
    height: 150px;
    border-width: 7px;
    border-color: #000000;

}
.main_page_help_but button{
    height: 100%;
    width: 100%;
    font-size: larger;
    font-style: unset;
    background-color: white;
    color: #000000;
    border-width: 4px;
    border-color:#06ff6a;
}
.main_page_second_level{
    padding-top: 15px;
    height: 700px;
  } 

.main_page_company_day{
    width: 755.99px;
}
.main_page_articles{
    display:flexbox;
    width: 760px;
}
.search-container {
    position: relative;
    display: inline-block;
  }
  
  .search-icon {
    cursor: pointer;
  }
  
  #search-input {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 5px;
    display: none;
  } */
/*  */
